[submodule "AutoAWQ"]
	path = AutoAWQ
	url = git@github.com:bu2/AutoAWQ.git
[submodule "QUICK"]
	path = QUICK
	url = git@github.com:bu2/QUICK.git
[submodule "vllm"]
	path = vllm
	url = git@github.com:bu2/vllm.git
[submodule "transformers"]
	path = transformers
	url = git@github.com:bu2/transformers.git
[submodule "optimum-quanto"]
	path = optimum-quanto
	url = git@github.com:bu2/optimum-quanto.git
